<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button auto-hide="false"></ion-menu-button>
    </ion-buttons>
    <ion-title>nosotros</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="description-container">
    <h2>Bienvenidos a nuestra aplicación GPS</h2>
    <p>
      Somos una aplicación diseñada para simplificar tu proceso de asistencia. Utilizamos la tecnología de geolocalización para detectar automáticamente cuando te encuentras en la sede de Duoc UC. ¡Registra tu asistencia de manera eficiente y sin complicaciones!
    </p>
  </div>

  <div class="image-container">
    <img src="src\assets\img" alt="Imagen de Muestra del GPS">
  </div>
</ion-content>

